.mypage-container {
  font-family: Pretendard;
  display: flex;
  flex-direction: row;

  height: auto;

  max-width: 100px;

  margin: 50px;

  
}

.mypage-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;

  width: 250px;
  margin-right: 200px;
}

.mypage-tabs > h2 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 15px;
}

.mypage-tabs button {
  color: black;
  background: none;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  transition: background-color 0.3s ease; /* 부드러운 전환*/
}

.mypage-tabs button.active {
  background: #e0e8ff;
  border-radius: 5px;
}

.mypage-tabs button:hover {
  background: #f0f4ff; /* hover 시 밝은 배경색 */
}

.contents-title {
  color: #000;

  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);

  width: 1000px;
  padding: 15px 0px;
  margin: 15px 0px;
}

.result-tab {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;
  
  
}

.edit-form > div {
  color: #252525;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;

  margin: 10px 0px;
}

.edit-form > div > input {
  width: 350px;
  height: 45px;
  font-size: 18px;

  border-radius: 10px;
  border: 1px solid #bfbfbf;
  background: #fff;

  margin: 10px 0px;
}

.edit-form > button {
  width: 150px;
  height: 50px;

  font-size: 18px;
  cursor: pointer;

  border-radius: 5px;
  border: 1px solid #165ee0;
  color: black;
  background: #fff;
}

.result-items {

  width: 1000px;
  z-index: 1;
  height: 90px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  color: #252525;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;

  /* 컨테이너 위 외부 여백 */
  margin-top: 25px;

  /* 컨테이너 양옆 내부 여백 */
  padding: 0 25px;

  border-radius: 5px;
  border: 1px solid #7899fe;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.result-items:hover {
  background: #f0f4ff;
  /* 조금 커지게 */
  transform: scale(1.01);
  /* 천천히 */
  transition: transform 0.3s ease;
}

.items-info {
  width: 600px;
  margin-top: 10px;
  font-size: 18px;

  color: #696969;
}

.items-result {
  width: 65px;
  margin-top: 25px;
}

.form-title {
  color: #000;
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin: 2vh 0;
}

.user-form{
  width: 100%;
}

.form-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  
  margin-top: 5vh;

  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2vh;
}
.form-name {
  color: #000;
  font-size: 2vh;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  margin-left: 5%;
  margin-right: 3%;
}

.form-id {
  color: #000;
  font-size: 2vh;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
}

.user-submit-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 2vh;
}

.user-question {
  color: #000;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 1vh;
}

.user-answer {
  color: #000;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1.5vh;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;

}


.prev-btn,
.close-btn,
.next-btn {

  text-align: center;
  align-items: center;
  justify-self: center;

  padding: 1vh 1vw;
  margin: 0 1vw;
  border: solid #989898 1px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.close-btn {
  justify-content: center;
  display: flex;
  position: absolute;

  background-color: #ffffff36;

  right: 5%;
}


.prev-btn:hover,
.close-btn:hover,
.next-btn:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 1px rgb(0, 123, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.pass-container{
  display: flex;
  position: absolute;
  left: 5%;
  
}

.pass-container button{
  text-align: center;
  align-items: center;
  justify-self: center;

  padding: 1vh 1vw;
  margin: 0 0.2vw;
  border: solid #989898 1px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}