.footer {
  background-color: #f8f8f8;
  color: #b3b3b3;
  margin-top: 90px;
  padding: 20px 0;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.footerContainer {
  max-width: 1800px;
  min-width: 1400px;
  margin: 0 auto;
}

.link-container {
  width: 36%;
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
}

.link {
  color: #b3b3b3;
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.link img {
  width: 80%;
}

.bt-container {
  padding: 5px 10px;
}

.bt-font {
  line-height: 16px;
  font-size: 16px;
  padding-top: 10px;
}
