/* pc */
@media screen and (min-width: 1024px) {
  .mainImage {
    width: 100%;
    max-height: 780px;
  }

  .fullWidthSection {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* 모바일 */
@media screen and (max-width: 1023px) {
  .mainImageContainer {
    position: relative;
  }

  .mainImage {
    width: 100%;
    max-height: 780px;
  }
}

.mainLogo,
.mainFont {
  position: absolute; 
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%); 
}

.mainLogo {
  top: 60%; 
}

.mainFont {
  top: 16%;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 12px 36px;
  background-color: #fff;
  border: 2px solid #165ee0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.section {
  padding: 10px 40px 60px 40px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sectionTitle {
  font-size: 2rem;
  line-height: 44px;
  font-weight: bold;
  padding: 30px;
}

.sectionText {
  font-size: 1.1rem;
  line-height: 1.8;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 350px;
  min-height: 540px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.cardImg {
  width: 55%;
  height: auto;
  margin-bottom: 0 auto 15px;
}

.cardContent {
  margin-top: 25px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 210px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 22px;
}

.cardDescription {
  font-size: 1.2rem;
  color: #666;
  line-height: 30px;
  padding: 0 22px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.faqContainer {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.faqCard {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faqQuestion {
  font-size: 1.2rem;
  font-weight: bold;
  color: #165ee0;
  margin-bottom: 10px;
}

.faqAnswer {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.timelineHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.timelineMonth {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.timelineBody {
  position: relative;
  width: 100%;
  height: 330px;
}

.timelineLine {
  position: absolute;
  left: 0;
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  z-index: 1;
}

.timelineEvent {
  position: absolute;
  padding: 14px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  z-index: 2;
  transform: translateY(-50%);
}