/* pc */
@media screen and (min-width: 1024px) {
  .mainImage {
    width: 100%;
  }

  .fullWidthSection {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .sectionTitle {
     margin-top: 160px;
  }
}

/* 모바일 */
@media screen and (max-width: 1023px) {
  .mainImageContainer {
    position: relative;
  }

  .mainImage {
    width: 100%;
  }
}

.mainText{
  position: absolute;
  top: 15%;
  width: 1214px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 110px;
  font-weight: bold;
  color: white;
  letter-spacing: -2px;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.95);
  user-select: none;
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 12px 36px;
  background-color: #fff;
  color: black;
  border: 2px solid #165ee0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Section {
  padding: 0px 0px 60px 0px;
  height: 100vh;
  min-height:730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.sectionTitle {
  font-size: 1.6rem;
  line-height: 30px;
  font-weight: bold;
  padding: 5px;
}

.sectionText {
  font-size: 1.1rem;
  line-height: 1.8;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 350px;
  min-height: 320px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.cardImg {
  width: 55%;
  height: auto;
  margin-bottom: 0 auto 15px;
}

.cardContent {
  margin-top: 25px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 12px;
}

.cardDescription {
  font-size: 1.1rem;
  color: #666;
  line-height: 26px;
  padding: 0 12px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.faqCard {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

.faqCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.faqContainer {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.faqContainer:hover .faqCard {
  filter: blur(4px);
  transition: all 0.3s ease-in-out;
}

.faqContainer .faqCard:hover {
  filter: blur(0);
}

.faqQuestion {
  font-size: 1.1rem;
  font-weight: bold;
  color: #165ee0;
  margin-bottom: 10px;
}

.faqAnswer {
  font-size: 1.0rem;
  color: #666;
  line-height: 1.2;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  position: relative;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.timelineHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.timelineMonth {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.timelineBody {
  position: relative;
  width: 100%;
  height: 330px;
}

.timelineLine {
  position: absolute;
  left: 0;
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  z-index: 1;
}

.timelineEvent {
  position: absolute;
  padding: 14px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  z-index: 2;
  transform: translateY(-50%);
}
