.mypage-container {
  font-family: Pretendard;
  display: flex;
  flex-direction: row;

  color: #252525;

  height: 1200px;

  margin: 50px;
}

.mypage-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;

  width: 250px;
  margin-right: 200px;
}

.result-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;
}

.mypage-tabs > h2 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 25px 15px;
}

.mypage-tabs button {
  background: none;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  transition: background-color 0.3s ease; /* 부드러운 전환*/
}

.mypage-tabs button.active {
  background: #e0e8ff;
  border-radius: 5px;
}

.mypage-tabs button:hover {
  background: #f0f4ff; /* hover 시 밝은 배경색 */
}

.contents-title {
  color: #000;

  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);

  width: 1200px;
  padding: 15px 0px;
  margin: 15px 0px;
}

.edit-form > div {
  color: #252525;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;

  margin: 10px 0px;
}

.edit-form > div > input {
  width: 350px;
  height: 45px;
  font-size: 18px;

  border-radius: 10px;
  border: 1px solid #bfbfbf;
  background: #fff;

  margin: 10px 0px;
}

.edit-form > button {
  width: 150px;
  height: 45px;

  font-size: 18px;
  cursor: pointer;

  margin-top: 20px;

  border-radius: 5px;
  border: 1px solid #165ee0;
  background: #fff;
  color: black;
  transition: background-color 0.3s ease; /* 부드러운 전환 */
}

.edit-form > button:hover {
  background: #e0e8ff;
}

.edit-form .delete-account-btn {
  padding: 8px 16px;
  margin: 0 8px;
  border: solid #007bff 1px;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-left: 800px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px #ff575799;
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
}

.edit-form .delete-account-btn:hover {
  transform: scale(1.05);
  border-color: #ff575799;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  animation: glow 1.5s infinite alternate;
}

.password-input {
  position: relative;
}

.password-toggle-button {
  width: 80px;
  height: 30px;

  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #165ee0;

  background: none;

  cursor: pointer;
  font-size: 14px;
  color: #165ee0;
  transition: background-color 0.3s ease; /* 부드러운 전환 */
}

.password-toggle-button:hover {
  background: #e0e8ff;
}

.passing-result-container {
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  color: #252525;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;

  /* 컨테이너 위 외부 여백 */
  margin-top: 25px;

  /* 컨테이너 양옆 내부 여백 */
  padding: 0 25px;

  border-radius: 5px;
  border: 1px solid #7899fe;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pass-name {
  margin-bottom: 30px;
  color: #252525;
}

.pass {
  margin-top: 30px;
  color: #4a7edc;
}

.pass-x {
  margin-top: 30px;
  color: #ff3232;
}

.result-items {
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  color: #252525;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;

  /* 컨테이너 위 외부 여백 */
  margin-top: 25px;

  /* 컨테이너 양옆 내부 여백 */
  padding: 0 25px;

  border-radius: 5px;
  border: 1px solid #7899fe;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
