.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.messageBox {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid black;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.message {
  font-size: 1rem;
  color: red;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cancelButton {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ddd;
}

.confirmButton {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: red;
  color: white;
}
